body {
    margin: 0;
    padding: 0;
    font-family: acme, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: aliceblue;
    border-radius: 15px;
    width: 96%;
}

.content {
    display: flex;
    height: calc(100vh * 0.92);
    backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.52);
    box-shadow: 0 4px 30px rgb(0 0 0 / 33%);
    border-radius: 15px;
}

.sidebar {
    padding: 10px;
    width: 250px;
    background-color: aliceblue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.judul {
    display: flex;
    align-items: center;
}

.judul h3 {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.fiture {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.link-sidebar,
.logout-sidebar {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.link-sidebar:hover {
    border: 1px solid #5294ad;
    border-radius: 10px;
    color: #5294ad;
}

.logout-sidebar:hover {
    color: #5294ad;
}

.logout-sidebar {
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
}

.fiture i {
    font-size: 25px;
    margin-right: 8px;
}

.wadah-isi {
    flex-grow: 1;
    overflow: hidden;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu-search {
    width: 30%;
}

.search {
    border: 2px solid #f3f3f3;
    padding: 10px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 15px;
}

.search input {
    background-color: transparent;
    border: none;
    width: 100%;
}

.search input:focus {
    outline: none;
}

.batas-input {
    border-right: 2px solid #333;
    height: 100%;
    margin-right: 5px;
}

.button-search {
    border: none;
    background-color: transparent;
}

.menu-user {
    flex-grow: 1;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.user,
.notif {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #f3f3f3;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-right: 20px;
}

.notif i {
    font-size: 20px;
}

.img-user {
    width: 90%;
}

.fouter {
    display: none;
}

.isi {
    overflow-y: auto;
    max-height: 100vh;
    padding: 10px;
}

.name {
    display: none;
}

@media (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100%;
        position: fixed;
        background-color: #fff;
        border-radius: 0;
    }

    .content {
        height: calc(100vh * 1 - 20px);
        border-radius: 0;
    }
    .sidebar {
        display: none;
    }

    .navbar {
        border-bottom: 1px solid #333;
        height: calc(100vh* 0.05);
    }
    
    .user,
    .menu-search {
        display: none;
    }

    .name {
        display: block;
        font-weight: bold;
        font-family: 'Forever Brush Script', cursive;
        font-style: italic;
        color: #000;
    }

    .fouter {
        position: fixed;
        bottom: 0;
        height: 65px;
        width: calc(100vw * 1);
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        z-index: 999;
    }

    .link-fouter {
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 25px;
        color: #000;
        justify-content: center;
    }

    #home {
        background-color: #5294ad;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        color: #fff;
    }

    .img-fouter {
        width: 25px;
        height: 25px;
    }
}